/********Responsive - For Tablet********/

@media(min-width: 400px)
{

/********Body********/
body
{
    margin: 10;
    padding: 0;
    font-family: Century Gothic;
    background-size: cover;
    color: rgb(0, 0, 0);
    background-image: url("images/bg.png");
}

/********Navigation Bar********/
#header
{
    float: center;
    height: 120px;
}
.nav-menu
{
    margin-left: 25%;
    margin-top: 5%;
    list-style-type: none;
    display: flex;
    gap: 40px;
}
.nav-menu li a
{
    text-decoration: none;
    color: rgb(182, 182, 182);
    font-weight: 700;
    font-size: 25px;
    
}
.nav-menu li#active a
{
    color: rgb(0, 0, 0);
}
ul li a:hover{
    color: rgb(102, 102, 102);
}

/********Horizontal Bars********/
.hr
{
    margin-left: 40%;
    margin-right: 36%;
    margin-top: -5%;
}
.hr1
{
    margin-top: 12%;
    margin-left: 36%;
    margin-right: 36%;
}

/********My Knowledge********/
.myKnowledge
{
    margin-left: 5%;
    margin-top: 2%;
}
.myKnowledge #mk p
{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}
.myKnowledge .text ul
{
    list-style-type: none;
    display: flex;
    gap: 21%;
    font-size: 40px;
    font-weight: 500;
    margin-left: 3%;
    margin-top: -2%;
}
.myKnowledge .pictures ul
{
    list-style-type: none;
    display: flex;
    gap: 8%;
    margin-left: -5.5%;
    margin-top: -2%;
}
.myKnowledge .pictures .frame
{
    padding: 10%;
    background-color: rgb(249, 249, 249);
    margin-right: -20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.myKnowledge .pictures .img
{
   width: 175px;
   height: 175px;
}

/********My Projects********/
.myProjects
{
    margin-top: 5%;
}
.myProjects #mp p
{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}
.myProjects .frame1
{
    padding: 2%;
    background-color: rgb(249, 249, 249);
    margin-top: 2%;
    margin-right: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.myProjects .frame1 .text1
{
    font-size: 27px;
}
.myProjects .frame1 .link1
{
    font-size: 25px;
    font-style: italic;
}
.myProjects .frame1 .link1 p a
{
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

/********Copyright********/
#copyright
{
    margin-top: 6%;
    margin-left: -3%;
}

}


/********Responsive - For Desktop********/

@media(min-width: 850px)
{

/********Body********/
body
{
    margin: 10;
    padding: 0;
    font-family: Century Gothic;
    background-size: cover;
    color: rgb(0, 0, 0);
    background-image: url("images/bg.png");
}

/********Navigation Bar********/
#header
{
    float: center;
    height: 120px;
}
.nav-menu
{
    margin-left: 41%;
    margin-top: 5%;
    list-style-type: none;
    display: flex;
    gap: 40px;
}
.nav-menu li a
{
    text-decoration: none;
    color: rgb(182, 182, 182);
    font-weight: 700;
    font-size: 25px;
    
}
.nav-menu li#active a
{
    color: rgb(0, 0, 0);
}
ul li a:hover{
    color: rgb(102, 102, 102);
}

/********Horizontal Bars********/
.hr
{
    margin-left: 40%;
    margin-right: 36%;
    margin-top: 0;
}
.hr1
{
    margin-top: 7%;
    margin-left: 36%;
    margin-right: 36%;
}

/********My Knowledge********/
.myKnowledge
{
    margin-left: 5%;
    margin-top: 2%;
}
.myKnowledge #mk p
{
    text-align: center;
    font-size: 75px;
    font-weight: 700;
}
.myKnowledge .text ul
{
    list-style-type: none;
    display: flex;
    gap: 30%;
    font-size: 50px;
    font-weight: 500;
    margin-left: 9%;
    margin-top: -2%;
}
.myKnowledge .pictures ul
{
    list-style-type: none;
    display: flex;
    gap: 330px;
    margin-left: 4%;
    margin-top: -2%;
}
.myKnowledge .pictures .frame
{
    padding: 10%;
    background-color: rgb(249, 249, 249);
    margin-right: -20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.myKnowledge .pictures .img
{
   width: 260px;
   height: 260px;
}

/********My Projects********/
.myProjects
{
    margin-top: 5%;
}
.myProjects #mp p
{
    text-align: center;
    font-size: 75px;
    font-weight: 700;
}
.myProjects .frame1
{
    padding: 2%;
    background-color: rgb(249, 249, 249);
    margin-top: 2%;
    margin-right: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.myProjects .frame1 .text1
{
    font-size: 30px;
}
.myProjects .frame1 .link1
{
    font-size: 25px;
    font-style: italic;
}
.myProjects .frame1 .link1 p a
{
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

/********Copyright********/
#copyright
{
    margin-top: 6%;
    margin-left: -3%;
}

}